* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

:root {
    --primary: #00B5FC;
    --secondary: #4B9EF4;
    --third: #7584E2;
    --foutrh: #9467C5;
    --fifth: #A746A0;
    --last: #AE1F74;
}

/*---------  All Elements Styles ------------*/

body {
    background-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 60;
    background-color: #FFF;
}
main {
    padding-top: 3.5rem;
}
.nav-container {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

.nav-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.45) 40%, #fff 100%);
    position: absolute;
    top: calc(100% + 0);
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    z-index: 1;
    padding: 7px 0;
}
/*-------------------------------------------------*/

/*-------------  NAVBAR STYLES --------------------*/

.nav-phone {
    height: 40px;
    border-bottom: 1px solid #bebebe;
    background-color: white;
}

.nav-logo {
    background-color: white;
}

#logo-image {
    height: 60px;
}

/* .nav-buttons {
   
} */

/*=======================================================================*/


.nav-items-container li a {
    display: block;
    text-align: center;
}

.dropdown li {
    display: block;
    border-bottom: 1px solid #bebebe;
}

.dropdown li a {
    font-size: 12px;
}

.dropdown {
    padding: 2rem;
    display: none;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: calc(274px - 20px);
    width: max-content;
    background-color: white;
    border-radius: 0 0 12px 12px;
}

.nav-items-container li:hover ul.dropdown {
    display: flex;
    position: absolute;
    z-index: 2;
}
.nav-items-container li ul.dropdown li a {
    color: black;
    padding: 0.5rem 0;
    text-wrap: nowrap;
}

.custom-button-1 {
    background-color:var(--last);
    border: 1px solid transparent;
    border-radius: 25px;
    color:  white;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: initial;
    min-width: initial;
    padding: 7px 12px;
}

.custom-button-1:hover {
    background-color: white;
    border: 1px solid var(--last);
    color: var(--last);
    transition: all .3s ease;
}

section {
    height: 70vh;
    color: black;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    padding: 20px 0px;
    background-color: var(--last);
}
/*------------------------------------------*/

/*------------- HOME SECTION STYLES -------------------*/

#home{
    background-image: url("images\\happy-female-doctor-giving-high-fie-little-boy-who-came-with-father-hospital.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center top;
}